dapr-ext-workflow-dev @ git+https://github.com/dapr/python-sdk.git@main#subdirectory=ext/dapr-ext-workflow&egg=dapr-ext-workflow 
dapr-dev @ git+https://github.com/dapr/python-sdk.git@b97d68ff9ea6ca1161fe244f002134461bc49f8e
fastapi==0.109.1
grpcio==1.64.1
pydantic==2.4.2
requests==2.31.0
uvicorn==0.32.1
yaspin==3.1.0